{% extends 'base.html.twig' %}

{% block title %}Edit BillingAdresse{% endblock %}

{% block body %}
    <h1>Edit BillingAdresse</h1>

    {{ include('billing_adresse/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_billing_adresse_index') }}">back to list</a>

    {{ include('billing_adresse/_delete_form.html.twig') }}
{% endblock %}
