{% extends 'base.html.twig' %}

{% block title %}Mention légales{% endblock %}

{% block body %}
    <div class="container">
        <div class="container-legal">
            <section>
                <h2>A propos de notre site</h2>
                <p>Bienvenue sur notre site de vente de voyages en box cadeau ! Nous offrons une façon unique et flexible de faire plaisir à vos proches. Avec nos box, vous pouvez offrir une expérience de voyage exceptionnelle sans la contrainte de fixer une date à l'avance. Le destinataire de la box aura le plaisir de choisir lui-même la période et la destination qui lui conviennent le mieux. Que ce soit pour un week-end romantique, une aventure en famille ou une escapade de détente, nos box voyages s'adaptent à toutes les envies. Offrir un voyage n'a jamais été aussi simple et agréable !</p>
            </section>

            <section>
                <h2>Conditions Générales de Vente (CGV)</h2>
                <p>Les présentes Conditions Générales de Vente régissent toutes les transactions effectuées sur notre site de vente de voyages en box cadeau. En validant votre commande, vous acceptez sans réserve les conditions énoncées. Chaque box comprend un bon pour un voyage sans date fixe, valable trois an à compter de la date d'achat. Le paiement s'effectue en ligne par carte bancaire, Les box sont livrées à l'adresse indiquée lors de la commande sous un délai de 7 jours ouvrables. </p>
            </section>

            <section>
                <h2>Conditions Générales d'Utilisation (CGU)</h2>
                <p>En accédant et en utilisant notre site, vous acceptez les présentes Conditions Générales d'Utilisation. Vous vous engagez à fournir des informations exactes lors de votre inscription et à mettre à jour vos données en cas de changement. Vous êtes responsable de la confidentialité de vos identifiants de connexion. Toute utilisation frauduleuse de votre compte devra être signalée immédiatement. Le contenu du site, incluant textes, images et logos, est protégé par des droits d'auteur et ne peut être utilisé sans notre autorisation préalable.</p>
            </section>

            <section>
                <h2>Politique de Confidentialité</h2>
                <p>Nous accordons une grande importance à la protection de vos données personnelles. Les informations collectées lors de votre inscription et de vos achats (nom, prénom, adresse e-mail, adresse postale, coordonnées de paiement) sont utilisées uniquement pour le traitement de vos commandes et l'amélioration de nos services. Conformément à la loi RGPD, vous disposez d'un droit d'accès, de rectification et de suppression de vos données. Pour exercer ce droit, contactez-nous à [Adresse E-mail de Contact]. Nous nous engageons à ne jamais partager vos informations avec des tiers sans votre consentement préalable.</p>
            </section>
        </div>
    </div>
{% endblock %}
